#base on Java with Eclipse
* .class
 
# Eclipse file
.settings /
#.project
.classpath
bin
#Eclipse file end

# android auto generate
gen/
build/
release/
#android auto generate end

# gradle
.gradle/
local.properties
#gradle end

# idea
.idea/
.idea
*.iml
#idea end

# vscode
.vscode

_gsdata_/

app/robust/
repo